<!DOCTYPE html>
<html lang="en" ng-app="templateApp">
<head>
  <meta charset="utf-8" />
  <title>Single Page Angular JS Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  @Scripts.Render(ScriptBundlePaths.Modernizr)
  @Styles.Render(StyleBundlePaths.JQueryMobile)
  @Styles.Render(StyleBundlePaths.App)
</head>
<body ngcloak>
  @RenderSection("Page", required: true)
  @Scripts.Render(ScriptBundlePaths.JQuery)
  @Scripts.Render(ScriptBundlePaths.JQueryMobile)
  @Scripts.Render(ScriptBundlePaths.Angular)
  @Scripts.Render(ScriptBundlePaths.App)
  @RenderSection("Scripts", required: false)
</body>
</html>